@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: linear-gradient(to right, #363635, #40413f);
	
}
.icon{
	color:#046077;

}

.resume{
	width:8.62in;
	height: 12.2in;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	
	
	-webkit-box-shadow: 0 0 50px rgb(46, 46, 44);
        box-shadow: 50 50 50px rgb(253, 253, 253);
}

.name_image{
	display: flex;
	width:8.62in;
	background-color: #272121;
	height: 240px;
}
.name_role{
  margin-top: 30px;
  margin-left: 40px;
}
.name_role .name{
	font-size: 45px;
	color: #ffffff;
	width: 120px;
	font-style: initial;
	font-weight: bold;
}
.line_1{
	width: 100px;
	height: 2px;
	background-color: #504d4d;
	margin-bottom: 20px;
	margin-top: -20px;
}
.line_2{
	width: 100px;
	height: 2px;
	background-color: #504d4d;
	margin-bottom: 20px;
	margin-top: 20px;
}
.name_role .role{
	font-size: 20px;
	color: #fff;
}

.contact_wrap{
	margin-left: 40px;
	margin-top: 25px;
}
.skills_wrap{
	margin-left: 40px;
	margin-right: 10px;
}


.right{
	width:8.62in;
	height: 9.45in;
	background-color: rgb(221, 216, 210);
	padding-top: 20px;

}
.image_circle{
	margin-left: 50px;
	margin-top: 40px;
}
 .image_circle .img_holder{
	align-self: center;
}


 .img_holder img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	
}
.title_left{
	height: 30px;
	margin-right: 30px;
	text-align: start;
	color: #000000;
	font-size: 22px;
	margin-bottom: 10px;
	
	width: 180px;
	text-transform: uppercase;
	font-weight: bold;
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}
.contact-line{
	display: flex;
	height: 20px;
	margin-top:5px;
	align-content: space-around;
}
.con-col{
	margin-left: 50px;
	display: flex;
}
.icon-type{
	display: flex;
}
.con-col .icon{
	margin-right: 10px;
}
 .con-col .text a{
	text-decoration: none;
	color:#046077;
	font-size: 12px;
}
 .text a:hover{
	text-decoration: underline;
}
.pb{
	padding-bottom: 5px;
}



.degress{
	display: flex;
	margin-left: 30px;
	align-items: stretch;
	justify-content: space-around;
}
.d_name_collage{
	padding-bottom: 5px;
	margin-right: 70px;
}
.year{
 padding-bottom: 2px;
 color: #070707;
 font-size: 10px;

}
.d_name{
	font-size: 14px;
	color: #070707;
	padding-bottom: 4px;
	font-weight: bold;
}
.cgpa{
	font-size: 10px;
	color: #020202;
	padding-bottom: 4px;
}
.c_name{
	font-size: 12px;
	color: #020202;
	padding-bottom: 4px;
}
.skills{
	margin-top: 75px;
}
.skill-row{
	display: flex;
	margin-left: 30px;
	justify-content: space-evenly;
}
.skill_level{
	margin-bottom: 10px;
	display: flex;
	margin-right: 20px;
}
.skill_name{
	font-size: 12px;
	color: #000000;
	padding-bottom: 10px;
	text-transform: uppercase;
	margin-right: 10px;
}
.point_90{
	width: 6px;
	height: 6px;
	background-color: black;
	margin-top: -5.6px;
	margin-left: 80px;
}
.point_75{
	width: 6px;
	height: 6px;
	background-color: black;
	margin-top: -5.6px;
	margin-left: 60px;
}
.point_50{
	width: 6px;
	height: 6px;
	background-color: black;
	margin-top: -5.6px;
	margin-left: 40px;
}
.level{
  width: 90px;
  height: 6px;
  border: solid 1px black;
  margin-top: 5px;
  
}







.section_design{
	margin-bottom: 10px;
}
.profile{
	color:#efedf1; 
	margin-left: 30px;
	font-size: 22px;
	margin-top: 30px;
}
 .about{
	line-height: 25px;
	font-size: 12px;
	text-align: justify;
	margin-left: 30px;
	margin-right: 50px;
	color: #efedf1;
	
}

.right_title{
	height: 30px;
	margin-left: 20px;
	text-align: center;
	color: #030303;
	font-size: 20px;
	margin-bottom: 15px;
	padding-top: 3px;
	width: 8in;
	text-transform: uppercase;
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	font-weight: bold;
	display: flex;
}
.r_title_name{
	margin-left: 20px;
}

.time_ex1{
	
	width:100px ;
	color: rgb(8, 8, 8);
	font-size: 14px;
	font-weight: bold;
	margin-left: 30px;
}
.detail_section{
	margin-left: 30px;
	margin-right: 30px;
}
.sub_title{
	font-size: 12px;
	color:rgb(0, 0, 0);
	font-weight: 600;
	
}
.sub_title a{
	color: #292b2f;
	text-decoration: none;
}
.sub_title a:hover{
	text-decoration: underline;
	color: rgb(3, 79, 109);
}
.company{
	font-size: 14px;
}
.detail{
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	margin-right: 15px;
}
.margin_section{
	margin-top: 15px;
}
.pro-row{
	display: flex;
	margin-left: 15px;
}
.pro-col{
	width: 250px;
	height: 110px;
	border:solid 1px rgb(87, 85, 85);
	padding:5px 5px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.achivement_name{
	font-size: 12px;
	margin-top: -25px;
	margin-left: 30px;
	color: rgb(0, 0, 0);
	font-weight: 600;
}
.achivement_star{
	height: 20px;
	width: 15px;
	clip-path: polygon(100% 0, 100% 100%, 48% 61%, 0 100%, 0 50%, 0 0);
	background-color:rgb(3, 3, 3);
	margin-left: 30px;
	margin-bottom: 5px;
}
.re_row{
	display: flex;
	justify-content: space-around;
	margin-left:30px;
	margin-right:30px

}
.re_name{
	font-size: 16px;
	color:rgb(5, 5, 5);
}
.re_designation{
	font-size: 14px;
	color:rgb(2, 2, 2);
}
.re_company{
	font-size: 12px;
	color:rgb(0, 0, 0);
}
.re_gmail a{
	text-decoration: none;
	font-size: 12px;
	color:rgb(0, 0, 0);
}
.re_gmail a:hover{
	text-decoration: underline;
}




